on: [push, pull_request]
name: Cargo Build & Test
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        project:
          - uc8151-rs
          - examples/async
          - examples/graphics
          - examples/partial_update
        toolchain:
          - stable
    defaults:
      run:
        working-directory: ${{ matrix.project }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
            target: x86_64-unknown-linux-gnu,thumbv6m-none-eabi
      - name: Build library
        if: matrix.project == 'uc8151-rs'
        run: cargo build --verbose
      - name: Build example
        if: matrix.project != 'uc8151-rs'
        run: cargo build --verbose --target thumbv6m-none-eabi
      - name: Run tests
        if: matrix.project == 'uc8151-rs'
        run: cargo test --verbose
