on: [push, pull_request]
name: Cargo Build & Test
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: uc8151-rs
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --verbose
      - run: cargo test --verbose
