on: [push, pull_request]
name: Clippy check
jobs:
  clippy_check:
    name: Run Clippy
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        project:
          - uc8151-rs
          - examples/async
          - examples/graphics
          - examples/partial_update
    defaults:
      run:
        working-directory: ${{ matrix.project }}
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: x86_64-unknown-linux-gnu,thumbv6m-none-eabi
          components: clippy
      - name: Run Clippy on library
        if: matrix.project == 'uc8151-rs'
        run: rustup component add clippy && cargo clippy
      - name: Run Clippy on example
        if: matrix.project != 'uc8151-rs'
        run: rustup component add clippy && cargo clippy --target thumbv6m-none-eabi
