on: [push, pull_request]
name: Code formatting check
jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        project:
          - uc8151-rs
          - examples/async
          - examples/graphics
          - examples/partial_update
    defaults:
      run:
        working-directory: ${{ matrix.project }}
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: thumbv6m-none-eabi
          components: rustfmt
      - run: cargo fmt -- --check
